*.log
.cache
.DS_Store
src/.temp
node_modules
dist
.env
.env.*
entry3.md
entry4.md
entry5.md
entry6.md
entry7.md
entry8.md
entry9.md
entry10.md
entry11.md
entry12.md
entry13.md

Users/marcusreinhardt/Development/gridsome-slow-performance/packages